body {
  font-family: "Inconsolata", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-family: "Inconsolata", sans-serif;
  line-height: 1.667;
  letter-spacing: normal;
  position: relative;
  background: radial-gradient(circle at 0% 0%, rgba(83, 67, 255, 0.2), transparent 25%), radial-gradient(circle at 0% 100%, rgba(186, 24, 173, 0.15), transparent 40%), radial-gradient(circle at 100% 0%, rgba(186, 24, 173, 0.1), transparent 25%), radial-gradient(circle at 100% 100%, rgba(83, 67, 255, 0.2), transparent 40%);
  background-color: #121825;
  /* Fallback color */
  backdrop-filter: blur(10px);
  color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s;
  transition-delay: 0.2s; }
  @media (max-width: 768px) {
    body {
      font-size: 16px; } }
  body.scroll {
    overflow-y: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Inconsolata", sans-serif; }

h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff; }
  @media (max-width: 768px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-size: 40px;
  font-weight: 900;
  color: #fff; }
  @media (max-width: 768px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-size: 32px;
  font-weight: 900;
  color: #fff; }
  @media (max-width: 768px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff; }
  @media (max-width: 768px) {
    h4 {
      font-size: 22px; } }

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #fff; }
  @media (max-width: 768px) {
    h5 {
      font-size: 20px; } }

h6 {
  font-size: 14px;
  font-weight: 600;
  color: #fff; }
  @media (max-width: 768px) {
    h6 {
      font-size: 18px; } }

p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Inconsolata", sans-serif;
  color: #fff; }
  @media (max-width: 768px) {
    p {
      font-size: 16px; } }

a {
  font-size: 22px;
  font-weight: 700;
  font-family: "Inconsolata", sans-serif;
  color: #fff;
  text-decoration: underline; }
  @media (max-width: 768px) {
    a {
      font-size: 16px; } }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #0a1530; }

img {
  width: 100%; }

::selection {
  background-color: #0a1530;
  color: #fff; }

.module {
  padding: 100px 0; }
  @media (max-width: 768px) {
    .module {
      padding: 50px 0; } }
  .module .module-content {
    margin-bottom: 30px; }
    .module .module-content i {
      color: #000;
      font-weight: 700; }

.center {
  justify-content: center;
  align-items: center; }

.bg-neutral {
  background-color: #f7faff; }

.container-fluid {
  padding: 0; }

@media (min-width: 1350px) {
  .container {
    max-width: 1350px !important; } }

@media (min-width: 1450px) {
  .container-xl {
    max-width: 1450px !important; } }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.p-0 {
  padding: 0; }

.shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 0 rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.03), 0 20px 30px rgba(0, 0, 0, 0.1); }

.primary-btn {
  display: inline-block;
  background: #bd17ab;
  background: linear-gradient(45deg, #bd17ab 0%, #5343ff 100%);
  color: #fff;
  border: 2px solid #bd17ab;
  border-radius: 10px;
  outline: none;
  width: fit-content;
  padding: 8px 20px;
  font-size: 16px;
  font-family: "Inconsolata", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease; }
  .primary-btn:hover, .primary-btn:active, .primary-btn:focus {
    background: linear-gradient(45deg, #5343ff 0%, #bd17ab 100%);
    border: 2px solid #5343ff; }

header {
  display: flex;
  width: 100%;
  text-align: center; }
  header .container-fluid {
    padding: 0; }
  header .row-header {
    padding-bottom: 50px; }
    @media (max-width: 992px) {
      header .row-header {
        padding-bottom: 30px; } }

footer {
  text-align: center;
  padding: 20px 0; }
  footer p {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px; }

.module.row-password-generator {
  padding-top: 0; }
  .module.row-password-generator .form-group #custom-word-position-label,
  .module.row-password-generator .form-group #custom-word-position-wrapper {
    display: none; }
  .module.row-password-generator .form-group input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative; }
  .module.row-password-generator .form-group input[type="checkbox"]:checked {
    background: #bd17ab;
    background: linear-gradient(45deg, #bd17ab 0%, #5343ff 100%);
    border-color: #bd17ab; }
  .module.row-password-generator .form-group input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }
  .module.row-password-generator .form-group input[type="checkbox"]:hover {
    border-color: #bd17ab; }
  .module.row-password-generator .form-group input[type="checkbox"]:focus {
    border-color: #bd17ab;
    box-shadow: 0 0 3px #bd17ab; }
  .module.row-password-generator .form-group input[type="number"],
  .module.row-password-generator .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all 0.3s ease; }
    .module.row-password-generator .form-group input[type="number"]:hover, .module.row-password-generator .form-group input[type="number"]:active, .module.row-password-generator .form-group input[type="number"]:focus,
    .module.row-password-generator .form-group input[type="text"]:hover,
    .module.row-password-generator .form-group input[type="text"]:active,
    .module.row-password-generator .form-group input[type="text"]:focus {
      border-color: #bd17ab; }
  .module.row-password-generator .form-group .select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; }
    .module.row-password-generator .form-group .select-wrapper select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      color: #000;
      border: 2px solid #fff;
      border-radius: 4px;
      appearance: none;
      -webkit-appearance: none;
      background: #fff; }
      .module.row-password-generator .form-group .select-wrapper select:hover, .module.row-password-generator .form-group .select-wrapper select:active, .module.row-password-generator .form-group .select-wrapper select:focus {
        border-color: #bd17ab; }
      .module.row-password-generator .form-group .select-wrapper select option {
        color: #000; }
    .module.row-password-generator .form-group .select-wrapper::after {
      font-family: "Material Symbols Outlined";
      content: "arrow_drop_down";
      color: #000;
      font-weight: 700;
      position: absolute;
      right: 10px;
      top: 17%;
      pointer-events: none; }
  .module.row-password-generator .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; }
  .module.row-password-generator .form-group #special-characters {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; }
    .module.row-password-generator .form-group #special-characters label {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      font-weight: normal; }
      .module.row-password-generator .form-group #special-characters label input {
        margin-right: 20px; }
  .module.row-password-generator .password-display {
    position: relative;
    margin-top: 20px; }
    .module.row-password-generator .password-display h2 {
      font-size: 22px;
      margin: 0 0 5px; }
    .module.row-password-generator .password-display p {
      display: flex;
      align-items: center;
      background: #f4f4f4;
      color: #000;
      font-weight: 700;
      padding: 10px;
      height: 50px;
      border: 2px solid #bd17ab;
      border-radius: 4px;
      word-break: break-all;
      margin-bottom: 0; }
      .module.row-password-generator .password-display p:after {
        font-family: "Material Symbols Outlined";
        content: "content_copy";
        position: absolute;
        right: 10px; }
  .module.row-password-generator .tooltip-custom {
    display: none;
    background-color: #5343ff;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease; }

/*# sourceMappingURL=styles.css.map */
